.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;  
}

.form-control label {
  font-weight: bold;
  font-size: .7em;
  margin-bottom: .4em;
}

.form-control input {
  border: 1px solid #222;
  border-radius: 2px;
  background-color: #2c3035;
  padding: .5em;
  color: #DFDFDF;
}

input[type="submit"] {
  background-color: #333;
  color: #eee;
  display: block;
  width: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
}