.todo {
  border-bottom: 1px solid #444;
  padding: 1em 0;
}

.todo h3 {
  margin-bottom: .5em;
}

.todo-done {
  text-decoration: line-through;
  color: rgb(240, 98, 146);
}

.todo p {
  text-align: left;
  font-style: italic;
  font-size: .7em;
  margin-bottom: 1.5em;
}

.todo svg {
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 1em;
  transition: .5s;
}

.todo svg:hover {
  color: rgb(240, 98, 146);
}